html body{
  height: 100%;
  width: 100%;
}

.jumbotron{
  background: url('images/header_image.jpeg')no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 855px;
}
#logo-name{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 100px;
  text-align: center;
  padding-top: 150px;
}
span{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #fff;
}
p{
  text-align: center;
  font-family: 'Georgia', sans-serif;
  font-weight: 700;
  font-size: 40px;
}
.button{
    font-size: 30px;
}
.fa-arrow-circle-down{
color: black;
}
.fa-arrow-circle-down:hover{
  color:#5e6468;
}
#navbar{
  width: 100%;
  position: fixed;
  top: 0;
}

/*****************
ABOUT PAGE
******************/

.content-section-home{
    padding: 50px 0;
    background: url('images/about_image_3.jpeg') no-repeat center center fixed;
    background-size: cover;
    margin-top: -30px; /* This will remove the gap between photos */
    height: 855px;
}
.bg-overlay2 {
  margin-top: -50px;
  background: rgba(255, 255, 255, 0.5);
  height: 855px;
}


#font-paragraph{
  font-size: 17px;
  text-align: center;
  font-family: 'Georgia', sans-serif;
}

.about-heading{
padding-top: 50px;
padding-bottom: 70px;
font-size: 50px;
font-family: 'Milonga', cursive;
font-weight: bold;
}
.brian-image{
  border: 8px solid #5e6468;;

  width: 300px;
  position: relative;
  left: 400px;
  margin: 10px;
}
.facts-about-me{
  padding-left: 100px;
  padding-bottom: 50px;
}
.facts{
  font-size: 40px;
  font-weight: bold;
  color:#000;
}
/*****************
PORTFOLIO PAGE
******************/
.content-section-portfolio{
    padding: 50px 0;
    background: url('images/porfolio_image.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-top: -30px; /* This will remove the gap between photos */
    height: 855px;
}
.bg-overlay3 {
  margin-top: -50px;
  background: rgba(0,0,0, 0.2);
  height: 855px;
}
.portfolio-heading{
padding-top: 50px;
padding-bottom: 70px;
font-size: 50px;
font-family: 'Milonga', cursive;
font-weight: bold;
color: #fff;
}
.portfolio-button{
    font-size: 30px;

}
.column-text{
  border-radius: 100%;
}
.portfolio-button .fa-arrow-circle-down{
color: #fff;
}
.fa-arrow-circle-down:hover{
  color:#5e6468;
}

/***
the different columns for my portfolios

**/
.column-text{
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding: 30px;
  background:#5e6468;
}



/*****************
CONTACT PAGE
******************/
.content-section-contact{
    padding: 50px 0;
    background: url('images/contact-image.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-top: -30px; /* This will remove the gap between photos */
    height: 690px;
}
.bg-overlay4 {
  margin-top: -50px;
  background: rgba(255,255,255, 0.3);
  height: 690px;
}
.contact-heading{
padding-top: 40px;
padding-bottom: 70px;
font-size: 40px;
font-family: 'Milonga', cursive;
font-weight: bold;
}

.font-paragraph{
  font-size: 17px;
  text-align: center;
  font-family: 'Georgia', sans-serif;
  padding-bottom: 20px;
  }


/* this was for the contact text but i replace with class font-paragraph
.contact-text{
  font-size: 17px;
  text-align: center;
  font-family: 'Georgia', sans-serif;
  font-weight: bold;
  padding-top: 20px;
  width: 900px;
  padding-left: 250px;
  margin-top: -35px;
}
*/
.table{
  display: table;
  margin: 0 auto;
  width: 100%; overflow: hidden;
}
ul.contact-info{
list-style: none; position: relative; float: left; display: block; left: 37%;font-weight:bold;  font-family: 'Georgia', sans-serif; 

}

li a{
    padding-left: 15px;
  text-decoration: none;
  display: inline;
  color: black;
}
a:hover{
  color: #5e6468;
}

.home-button{
      font-size: 30px;
      color: black;
      position: relative;
      left: 30px;
}
.home-button:hover{
  color: #5e6468;
}

/********************
 FOOTER
********************/
.content-section-footer{
    padding: 50px 0;
    background: black;
    height: 50px;
}
.bg-overlay5 {
  margin-top: -50px;
  height: 50px;
}
.footer{
  font-size: 15px;
  padding-top: 35px;
  font-family: 'times', sans-serif;
  color: #fff;
  font-weight: normal;
}

/***************************************
AT MEDIA SCREEN MAX OF 480PX
****************************************/

@media only screen and (max-width: 480px) {
html body{
  height: 100%;
  width: 100%;
}

.jumbotron{
  background: url('images/header_image.jpeg')no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 700px;
}
#logo-name{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 90px;
  text-align: center;
  padding-top: 150px;
}
span{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #fff;
}
p{
  text-align: center;
  font-family: 'Georgia', sans-serif;
  font-weight: 700;
  font-size: 40px;
}
.button{
    font-size: 30px;
}
.fa-arrow-circle-down{
color: black;
}
.fa-arrow-circle-down:hover{
  color:#5e6468;
}
#navbar{
  width: 100%;
  position: fixed;
  top: 0;
}

/*****************
ABOUT PAGE
******************/

.content-section-home{
    padding: 50px 0;
    background: url('images/about_image_3.jpeg') no-repeat center center fixed;
    background-size: cover;
    margin-top: -30px; /* This will remove the gap between photos */
    height: 855px;
}
.bg-overlay2 {
  margin-top: -50px;
  background: rgba(255, 255, 255, 0.5);
  height: 855px;
}
.font-paragraph{
  font-size: 15px;
  text-align: center;
  font-family: 'Georgia', sans-serif;
}

.about-heading{
padding-top: 40px;
padding-bottom: 70px;
font-size: 40px;
font-family: 'Milonga', cursive;
font-weight: bold;
}

.facts-about-me{
  padding-left: 20px;
  padding-bottom: 40px;
  margin-top:-45px;
}
.facts{
  font-size: 30px;
  font-weight: bold;
  color:#000;
}

/*****************
PORTFOLIO PAGE
******************/
.content-section-portfolio{
    padding: 50px 0;
    background: url('images/porfolio_image.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-top: -30px; /* This will remove the gap between photos */
    height: 700px;
}
.bg-overlay3 {
  margin-top: -50px;
  background: rgba(0,0,0, 0.2);
  height: 700px;
}
.portfolio-heading{
padding-top: 40px;
padding-bottom: 70px;
font-size: 40px;
font-family: 'Milonga', cursive;
font-weight: bold;
color: #fff;
}
.portfolio-button{
    font-size: 30px;

}
.column-text{
  border-radius: 0%;
    font-size: 20px;
  color: #fff;
  background:#5e6468;
}
.portfolio-button .fa-arrow-circle-down{
color: #fff;
}
.fa-arrow-circle-down:hover{
  color:#5e6468;
}
/*****************
CONTACT PAGE
******************/
.content-section-contact{
    padding: 50px 0;
    background: url('images/contact-image.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-top: -30px; /* This will remove the gap between photos */
    height: 750px;
}
.bg-overlay4 {
  margin-top: -50px;
  background: rgba(255,255,255, 0.3);
  height: 750px;
}
.contact-heading{
padding-top: 30px;
padding-bottom: 70px;
font-size: 40px;
font-family: 'Milonga', cursive;
font-weight: bold;
}

.font-paragraph{
  font-size: 15px;
  text-align: center;
  font-family: 'Georgia', sans-serif;
}
.table{
  display: table;
  margin: 0 auto;
  width: 100%; overflow: hidden;
}
ul.contact-info{
list-style: none; position: relative; float: left; display: block; left: 14%;font-weight:bold;  font-family: 'Georgia', sans-serif; 

}
li a{
  padding-left: 10px;
  text-decoration: none;
  display: inline;
  color: black;
}

a:hover{
  color: #5e6468;
}
.home-button{
      font-size: 30px;
      color: black;
      position: relative;
      left: 30px;
}
.home-button:hover{
  color: #5e6468;
}



@media screen and (min-width: 660px) {}